/Testes/nbproject/private/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/VerificadoIdade/nbproject/private/
/VerificadoIdade/build/
/JogoAdivinho/nbproject/private/
/JogoAdivinho/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/FormarTriangulo/nbproject/private/
/FormarTriangulo/build/
/CalcularFatorial/nbproject/private/
/CalcularFatorial/build/
/CalcFatorial/nbproject/private/
/CalcFatorial/build/
/Vetores/nbproject/private/
/Vetores/build/
/TesteFuncao01/nbproject/private/
/TesteFuncao01/build/
/TesteFuncao02/nbproject/private/
/TesteFuncao02/build/
